/* Globais */
body {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
  background-color: #f5f7fb;
  color: #636363;
}

.container {
  margin: auto;
  max-width: 1360px;
}

/* Scroll bar */

::-webkit-scrollbar-track {
  background-color: #cccccc;
}
::-webkit-scrollbar {
  width: 4px;
  background: #8a8a8a;
}
::-webkit-scrollbar-thumb {
  background: #8a8a8a;
}
