/* Globais */
body {
  margin: 0;
  display: flex;
}

body {
  background-color: var(--white-back);
  color: var(--gray-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
}

.container {
  margin: auto;
  max-width: 1360px;
}

.radius-form {
  border-radius: 0px 10px;
}

.link-div {
  background-color: var(--black);
  color: var(--white-back);
  display: block;
  font-size: 18px;
  font-weight: 380;
  padding: 15px;
  text-align: center;
  text-decoration: none;

  -webkit-box-shadow: 3px 4px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 3px 4px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 3px 4px 5px rgba(50, 50, 50, 0.77);
}

:root {
  --black: #171617;
  --gray-text: #636363;
  --orange-theme: #ffd400;
  --purple-dark: #2c2c51;
  --white-back: #f5f7fb;
}

/* Scroll bar */

::-webkit-scrollbar-track {
  background-color: var(--gray-text);
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--gray-text);
}
::-webkit-scrollbar-thumb {
  background: var(--black);
}
