.details > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details > .content > .info-questions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.img-details img {
  padding: 50px;
  width: 400px;
}

.info-questions > .info-text {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  width: 50%;
}

.info-questions > .info-text > .info-options {
  color: var(--white-back);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 10px 10px 0px;
  text-align: center;
  width: 65%;
}

.info-options li {
  list-style-type: none;
  padding: 5px;
}

.info-options button {
  height: 40px;
  min-width: 50px;
}

.info-questions .home-link {
  text-align: center;
  width: 35%;
}
