.footer {
  display: flex;
  color: #171617;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-weight: 300;
}

.footer-link {
  font-weight: 400;
  text-decoration: none;
  color: #fdba12;
}

.footer-link:hover {
  font-weight: bold;
}
