.header-menu {
  text-align: left;
  height: 85px;
  display: flex;
  justify-content: space-between;
}

.header-menu > .logo > img {
  display: block;
  width: 12em;
}

.header-menu > .logo > p {
  font-size: 10px;
  color: black;
  font-weight: bold;
}

.header-menu .navigation {

}